<html lang='fr'>
<head>
    <meta charset='UTF-8'/>
    <title>Vérification de votre email LCJ Shop</title>
</head>
<body style="font-family: 'Google Sans', Roboto, Arial, sans-serif; width: 100%; padding: 0; margin: 0; color: #03071e">
<table width='600' style='margin: 0 auto; width: 600px'>
    <tr>
        <td>
            <table>
                <tr>
                    <td width='50px' align='center' style='width: 50px'>
                        <img src='https://cdn.statically.io/img/shop-lcj.fr/w=50/shop-icon-v1.png'
                             style='display: block' alt=' ' height='30' width='30'/>
                    </td>

                    <td>
                        <h2 style='line-height: 50px; margin: 0; font-size: 24px; font-weight: normal; padding: 0'>Shop
                            LCJ</h2>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style='display: block; height: 1px; background-color: #d00000; width: 600px'>
        <td></td>
    </tr>
    <tr height='20px' style='height: 20px'>
        <td></td>
    </tr>
    <tr>
        <td>
            <h1 style='text-align: center; line-height: 36px; font-weight: bold; font-size: 30px; padding: 0'>
                Vérification de votre email Shop LCJ</h1>
        </td>
    </tr>
    <tr>
        <td style='font-size: 16px'>Bonjour {{name}},</td>
    </tr>
    <tr>
        <td style='padding: 10px 0 0; font-size: 16px'>
            Vous avez récemment créé un compte sur le site
            <a href='https://shop-lcj.fr/' target='_blank' style='color: #d00000 !important' rel='noopener,noreferrer'>https://shop-lcj.fr/</a>.
            Afin de vérifier que cette addresse email vous
            appartient bien, voici le code de confirmation que vous devez entrer :
        </td>
    </tr>
    <tr>
        <td style='padding: 20px 0 0'>
            <table>
                <tr>
                    <td width='100px' style='width: 100px;'></td>
                    <td width='400px' align='center'
                        style='text-align: center; padding: 20px; background-color: #e8ecf0; border-radius: 10px; width: 400px;'>
                        <h3 style='font-size: 32px; line-height: 40px; margin: 0; font-weight: normal; padding: 0'>{{code}}</h3>
                    </td>
                    <td width='100px' style='width: 100px;'></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style='padding: 20px 0 0; font-size: 16px'>Si vous n’avez jamais tenté de créer un compte sur ce site, vous
            pouvez ignorer cet email.
        </td>
    </tr>
    <tr>
        <td style='padding: 20px 0 0; font-size: 16px'>À bientôt sur Shop LCJ !</td>
    </tr>
    <tr>
        <td style='padding: 10px 0 0; font-size: 16px'>- La Maison des Lycéens</td>
    </tr>
    <tr height='20px' style='height: 20px'>
        <td></td>
    </tr>
    <tr style='display: block; height: 1px; background-color: #d00000; width: 600px'>
        <td></td>
    </tr>
    <tr height='20px' style='height: 20px'>
        <td></td>
    </tr>
    <tr>
        <td style='text-align: center; font-size: 12px'>© 2021 La maison des Lycéens,</td>
    </tr>
    <tr>
        <td style='text-align: center; font-size: 12px'>Lycée Charles Jully, 59 Rue du Maréchal Foch, 57500
            Saint-Avold
        </td>
    </tr>
</table>
</body>
</html>