* {
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --white: white;
    --light-gray: #F7F9FB;
    --dark-gray: #E8ECF0;
    --black: #03071E;
    --primary: #D00000;
    --primary-gradient: #DC2F02;
    --placeholder: rgba(3, 7, 30, .35);
    --blur: rgba(3, 7, 30, .40);
    --gradient: linear-gradient(90deg, var(--primary), var(--primary-gradient));

    /* ELEMENTS SIZES */
    --header-height: 70px;

    /* SPACINGS */
    --short-spacing: 5px;
    --spacing: 10px;

    /* ROUNDINGS */
    --round: 10px;
}

@media all and (min-width: 768px) {
    :root { /* On PC */
        /* ELEMENTS SIZES */
        --header-height: 60px;

        /* SPACINGS */
        --spacing: 15px;
    }
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    background-color: var(--dark-gray);
    overflow: hidden;
}

#svelte {
    height: 100vh;
    width: 100vw;
    overflow: hidden auto;
}

a, a:link, a:visited {
    color: var(--primary);
    cursor: pointer;
    text-decoration: none !important;
}

.text-gradient {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.category-title {
    font-size: .9rem;
    text-transform: uppercase;
    margin: calc(var(--spacing) * 2) 0 var(--spacing);
}

.category-title:first-child {
    margin-top: 0;
}

label {
    display: block;
}

input, button, textarea {
    font-family: inherit;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], textarea {
    background-color: var(--white);
    padding: var(--spacing);
    margin: var(--spacing) 0;
    border: 1px solid transparent;
    border-radius: var(--round);
    outline: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus {
    border: 1px solid var(--primary);
}

.btn-primary {
    background-color: var(--primary);
    background-image: var(--gradient);
    color: var(--white);
    padding: var(--spacing);
    margin: var(--spacing) 0;
    text-align: center;
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}

.btn-secondary {
    background-color: transparent;
    color: var(--black);
    padding: var(--spacing);
    margin: var(--spacing) 0;
    text-align: center;
    border: 2px solid var(--primary);
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}

.disabled {
    cursor: not-allowed;
    filter: grayscale(.5) brightness(1.1);
}

.error-message {
    color: red;
}

picture.product-img {
    position: relative;
    display: block;
    overflow: hidden;
}

picture.product-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.picture-loader {
    position: relative;
}

.picture-loader img {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
}

.picture-loading::before, .picture-error::before, .picture-loading::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    z-index: 2;
}

.picture-error::before {
    background-image: url("/icons/broken-image.svg");
    background-color: var(--light-gray);
}

.picture-loading::before {
    background-color: var(--light-gray);
}

@media all and (min-width: 768px) {
    .picture-loading::before, .picture-error::before {
        background-color: var(--dark-gray);
    }
}

.picture-loading::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M18.65 8.35l-2.79 2.79a.5.5 0 00.35.86H18a6 6 0 01-8.25 5.56.96.96 0 00-1.04.23 1 1 0 00.34 1.64A8 8 0 0020 12h1.79a.5.5 0 00.35-.85l-2.79-2.79a.5.5 0 00-.7-.01zM6 12a6 6 0 018.25-5.56c.36.15.77.04 1.04-.23a1 1 0 00-.34-1.64A8 8 0 004 12H2.21a.5.5 0 00-.35.85l2.79 2.79c.2.2.51.2.71 0l2.79-2.79a.5.5 0 00-.36-.85H6z'/%3E%3C/svg%3E");
    animation: rotate .6s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0) rotateX(.5turn);
    }
    to {
        transform: rotate(1turn) rotateX(.5turn);
    }
}

.img-loading {
    visibility: hidden;
}
