* {
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --white: white;
    --light-gray: #F7F9FB;
    --dark-gray: #E8ECF0;
    --black: #03071E;
    --primary: #D00000;
    --primary-gradient: #DC2F02;
    --placeholder: rgba(3, 7, 30, .35);
    --blur: rgba(3, 7, 30, .40);
    --gradient: linear-gradient(90deg, var(--primary), var(--primary-gradient));

    /* ELEMENTS SIZES */
    --header-height: 70px;

    /* SPACINGS */
    --short-spacing: 5px;
    --spacing: 10px;

    /* ROUNDINGS */
    --round: 10px;
}

@media all and (min-width: 768px) {
    :root { /* On PC */
        /* ELEMENTS SIZES */
        --header-height: 60px;

        /* SPACINGS */
        --spacing: 15px;
    }
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    background-color: var(--dark-gray);
    overflow: hidden;
}

#svelte {
    height: 100vh;
    width: 100vw;
    overflow: hidden auto;
}

a, a:link, a:visited {
    color: var(--primary);
    cursor: pointer;
    text-decoration: none !important;
}

.text-gradient {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.category-title {
    font-size: .9rem;
    text-transform: uppercase;
    margin: calc(var(--spacing) * 2) 0 var(--spacing);
}

.category-title:first-child {
    margin-top: 0;
}

label {
    display: block;
}

input[type="text"], input[type="password"], input[type="email"] {
    background-color: var(--white);
    padding: var(--spacing);
    margin: var(--spacing) 0;
    border: none;
    border-radius: var(--round);
    outline: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    outline: 1px solid var(--primary);
}

.btn-primary {
    background-color: var(--primary);
    background-image: var(--gradient);
    color: var(--white);
    padding: var(--spacing);
    margin: var(--spacing) 0;
    text-align: center;
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}

.disabled {
    cursor: not-allowed;
    filter: grayscale(.5) brightness(1.1);
}
